#
# Copyright (c) 2023-2025. Cloud Software Group, Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#

#
# HELPER VARIABLE DEFINITIONS
{{- $params := include "need.msg.gateway.params" . | fromYaml -}}
{{- $basename := printf "%s" $params.msggw.basename  -}}
{{- $svcname := $basename -}}
{{- $cpHost := .Values.global.cp.cpHostname | default "sub.cp.platform.local" -}}

#
{{- if .Values.enableIngress }}
apiVersion: v1
kind: Service
metadata:
  name: dp-d50m97aal6jc73b7bnd0.platform.local
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: loib-it0611014-dev-ingressgateway
    istio: loib-it0611014-dev-ingressgateway
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: tls
      port: 443
      targetPort: 8443
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ $basename }}-ops"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-ingress
spec:
  hosts:
    - "{{ $cpHost }}"
  gateways:
    - "loib-it0611014-dev-ingressgateway"
    - "mesh"
  http:
    - match:
        - uri:
            prefix: /tibco/agent/msg/ops/shell/toolset/
      rewrite:
        uri: /
      route:
        - destination:
            host: "{{ $svcname }}.{{ .Release.Namespace }}.svc.cluster.local"
            port:
              number: {{ int $params.msggw.ports.gatewayApiPort | default 8376 }}
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ $basename }}-api"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-ingress
spec:
  hosts:
    - "dp-{{ .Values.global.cp.dataplaneId }}.platform.local"
  gateways:
    - loib-it0611014-dev-ingressgateway
    - "mesh"
  http:
    - match:
        - uri:
            prefix: /tibco/agent/msg/ct/toolset/
      rewrite:
        uri: /
      route:
        - destination:
            host: "{{ $svcname }}.{{ .Release.Namespace }}.svc.cluster.local"
            port:
              number: {{ int $params.msggw.ports.gatewayApiPort | default 8376 }}
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ $basename }}-restd"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-ingress
spec:
  hosts:
    - "dp-{{ .Values.global.cp.dataplaneId }}.platform.local"
  gateways:
    - loib-it0611014-dev-ingressgateway
    - "mesh"
  http:
    - match:
        - uri:
            prefix: /tibco/agent/msg/ct/restd/
      rewrite:
        uri: /
      route:
        - destination:
            host: "{{ $svcname }}.{{ .Release.Namespace }}.svc.cluster.local"
            port:
              number: 9014
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ $basename }}-rvmon"
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-ingress
spec:
  hosts:
    - "dp-{{ .Values.global.cp.dataplaneId }}.platform.local"
  gateways:
    - loib-it0611014-dev-ingressgateway
    - "mesh"
  http:
    - match:
        - uri:
            prefix: /tibco/agent/msg/ct/rvmon/
      rewrite:
        uri: /
      route:
        - destination:
            host: "{{ $svcname }}.{{ .Release.Namespace }}.svc.cluster.local"
            port:
              number: 7585
---
kind: Service
apiVersion: v1
metadata:
  name: "{{ $svcname }}"
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-service
    tib-msg-stsname: "{{ $svcname }}"
spec:
  ports:
  - name: ops-shell
    port: {{ int $params.msggw.ports.gatewayApiPort | default 8376 }}
    protocol: TCP
  - name: restd
    port: 9014
    protocol: TCP
  - name: rvmon
    port: 7585
    protocol: TCP
  selector:
    tib-msg-stsname: "{{ $svcname }}"

---
# Pending removal - deferred to 1.7.0 w/ Single prometheus
# 1.5.0: Monitors BMDP scrape service
kind: Service
apiVersion: v1
metadata:
  name: "{{ $svcname }}-finops"
  annotations:
    {{ include "msg.gateway.mon.anno" $params | indent 4 }}
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    {{ include "msg.gateway.mon.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-finops
    tib-msg-stsname: "{{ $svcname }}"
spec:
  ports:
  - name: ops-shell
    port: {{ int $params.msggw.ports.gatewayApiPort | default 8376 }}
    protocol: TCP
  selector:
    tib-msg-stsname: "{{ $svcname }}"

{{- end }}
