{{ if .Values.ingress.enabled -}}
{{- $fullName := include "flogoprovisioner.fullname" . -}}
{{- $gateway := default "loib-it0611014-dev-ingressgateway" (tpl .Values.ingress.className .) }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/component: load-balancer
    {{- include "flogoprovisioner.labels" . | nindent 4 }}
  annotations:
    meta.helm.sh/release-namespace: {{ .Values.global.cp.namespace }}
    meta.helm.sh/release-name: {{ $fullName }}
    ingress.kubernetes.io/path-rewrite: /tibco/agent/integration/{{ .Values.global.cp.instanceId }}/flogoprovisioner/(.*) /\1
    {{- with .Values.ingress.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  hosts:
  {{- range .Values.ingress.hosts }}
    {{- if .host }}
    - {{ .host | quote }}
    {{- else }}
    - "dp-{{ $.Values.global.cp.dataplaneId }}.platform.local"
    {{- end }}
  {{- end }}
  gateways:
    - {{ $gateway | quote }}
    - "mesh"
  http:
    {{- if $.Values.ingress.hostsOverride -}}
    {{- range .Values.ingress.hosts }}
    {{- range .paths }}
    - match:
        - uri:
            prefix: {{ .path }}
      route:
        - destination:
            host: {{ $fullName }}.{{ $.Release.Namespace }}.svc.cluster.local
            port:
              number: {{ $.Values.service.port }}
    {{- end }}
    {{- end }}
    {{- else}}
    - match:
        - uri:
            prefix: /tibco/agent/integration/{{ $.Values.global.cp.instanceId }}/flogoprovisioner/
      rewrite:
        uri: /
      route:
        - destination:
            host: {{ $fullName }}.{{ $.Release.Namespace }}.svc.cluster.local
            port:
              number: {{ $.Values.service.port }}
    {{- end }}
{{- end }}
